*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
:root{
    --mainBgColor:rgb(56, 56, 56);
    --mainBrdColor:rgb(0, 4, 255);
    --titleText:35px;
    --subTitleText:30px;
    --normalText:25px;
    --smallText:20px;
}